.icons{
    font-size: 32px;
    height:21px;
    width: 22px;
    color:lightgray;
    cursor:pointer;
}
.icons:hover{
    color: rgba(230, 21, 21, 0.89);
   
}

.icon-con{
    position: absolute;
    top:0;
    right: 0;
    border-radius: 6%;
    padding: 2px;
    background-color:rgb(214, 146, 214);
    margin: 10px;
}
/* .links{
    
} */
